:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --add-black: #2f303a;
  --bg-ligth-gray: #f5f4fa;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

address {
  font-style: normal;
}

.header>.container {
  display: flex;
  align-items: center;
}

.logo-blue {
  color: var(--accent-color);
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: inline;
  padding: 31px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  width: 105%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after {
  transform: scale(1.2);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  fill: var(--add-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .envelope,
.contact-link:focus .envelope {
  fill: var(--accent-color);
}

.smartphone {
  fill: var(--add-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link:hover .smartphone,
.contact-link:focus .smartphone {
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.hero-btn {
  width: 216px;
  height: 50px;
  background: var(--accent-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  margin-left: 477px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.7;
}

.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  opacity: 1;
}

.hero-btn:active {
  transform: scale(0.9);
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
  gap: 30px;
}

.advantage-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.advantage-item::before {
  content: "";
  display: block;
  height: 120px;
  border: none;
  background-image: url("../images/SVG/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantage-item:nth-child(2)::before {
  background-image: url("../images/SVG/clock.svg");
}

.advantage-item:nth-child(3)::before {
  background-image: url("../images/SVG/diagram.svg");
}

.advantage-item:nth-child(4)::before {
  background-image: url("../images/SVG/astronaut.svg");
}

.advantage-item-title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}

.advantage-item-text {
  color: var(--add-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-item-title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-list-name {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list-profession {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
}

.team-item-list {
  display: flex;
  padding: 16px 32px 30px;
  gap: 10px;
}

.team-item-list-item-link {
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-list-item-link:hover,
.team-item-list-item-link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.team-item-list-item-link:hover .soc-link-svg,
.team-item-list-item-link:focus .soc-link-svg {
  fill: #fff;
}

.soc-link-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}

.clients-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.clients-list-item {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  position: relative;
}

.clients-list-item-link {
  fill: #afb1b8;
  height: inherit;
  width: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.footer {
  background-color: var(--add-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-address-link-map {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link-map:hover,
.footer-address-link-map:focus {
  color: var(--accent-color);
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer>.container {
  display: flex;
}

.footer-container-link {
  margin-right: 70px;
}

.footer-container-soc {
  margin-right: 90px;
}

.footer-soc-list-title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item-svg {
  fill: #fff;
}

.footer-soc-item-link:hover,
.footer-soc-item-link:focus {
  background-color: var(--accent-color);
}

.footer-mail-input-title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}

.footer-mail-input {
  width: 358px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid var(--add-color);
  background-color: var(--add-black);
  margin-right: 12px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-input::placeholder {
  color: var(--add-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}

.footer-mail-input:focus,
.footer-mail-input:hover {
  border-color: var(--accent-color);
}

.footer-mail-input-btn {
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.7;
}

.footer-mail-input-btn:hover,
.footer-mail-input-btn:focus {
  cursor: pointer;
  opacity: 1;
}

.footer-mail-input-btn:active {
  transform: scale(0.9);
}

.footer-mail-input-btn-icon {
  fill: #fff;
  margin-bottom: -5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: transform 500ms linear;
}
.backdrop.is-hidden .modal-hero {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-hero-btn {
  border: 1px solid rgba(0, 0, 0, 0.10);
  ;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-hero-btn:focus,
.modal-hero-btn:hover {
  fill: var(--accent-color);
}

.modal-hero-title {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-hero-label {
  color: var(--add-color);
  font-size: 12px;
  letter-spacing: 0.12px;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-hero-label-input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-hero-label-input:focus,
.modal-hero-label-input:hover {
  border: 1px solid #2196f3;
}

.modal-hero-label:nth-child(4) {
  margin-bottom: 20px;
}

.modal-hero-label-input:hover+.modal-hero-label-input-svg,
.modal-hero-label-input:focus+.modal-hero-label-input-svg {
  fill: var(--accent-color);
}

.modal-hero-label-input-svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-hero-label-input:focus .modal-hero-label-input-svg {
  fill: var(--accent-color);
} */
.modal-hero-label-textarea {
  resize: none;
  padding: 12px 16px;
  height: 96px;
  margin-top: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-hero-label-textarea:focus,
.modal-hero-label-textarea:hover {
  border: 1px solid #2196f3;
}

.modal-hero-label-textarea::placeholder {
  color: var(--add-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.label-check {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.modal-hero-label-check {
  margin-right: 7px;
}

.modal-hero-label-agree {
  color: var(--add-color);
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-hero-label-link-agree {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal-hero-btn-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
  opacity: 0.7;
  margin-top: 30px;
}

.modal-hero-btn-submit:hover,
.modal-hero-btn-submit:focus {
  opacity: 1;
}

.modal-hero-btn-submit:active {
  transform: scale(0.9);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}

.filter-list-item-btn {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.48px;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-item-btn:hover,
.filter-list-item-btn:focus {
  background: var(--accent-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-catalog-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border: 1px solid #eee;
}

.portfolio-catalog-cont-img {
  position: relative;
  overflow: hidden;
}

.portfolio-catalog-cont-img:hover .project-overlay {
  transform: translateY(0);
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay-text {
  color: #FFF;
  font-size: 18px;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
}

.portfolio-catalog-item-tag {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-catalog-item-tag:hover,
.portfolio-catalog-item-tag:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.catalog-item-text {
  padding: 20px 24px;
}

.catalog-item-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.catalog-item-subtitle {
  color: var(--add-color);
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.catalog-item-img {
  position: relative;
}