:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --add-black: #2f303a;
  --add-white: #ffffff;
  --bg-ligth-gray: #f5f4fa;
}
body {
  font-family: Roboto;
}
.list {
  list-style-type: none;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
.logo-blue {
  color: var(--accent-color);
}
.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contact-link {
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--add-black);
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-btn {
  width: 216px;
  height: 50px;
  background: var(--accent-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.advantage-item-title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
}
.advantage-item-text {
  color: var(--add-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.work-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-img {
  width: 270px;
  height: 260px;
}
.team-list-name {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-list-profession {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
}
.footer {
  background-color: var(--add-black);
}
.footer-logo {
  color: #fff;
}
.footer-address-link-map {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.filter-list-item-btn {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
  font-family: inherit;
}
.filter-list-item-btn:hover,
.filter-list-item-btn:focus {
  background: var(--accent-color);
  color: #fff;
}
.catalog-item-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.catalog-item-subtitle {
  color: var(--add-color);
  line-height: 30px;
  letter-spacing: 0.48px;
}